html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
}

#mainpage{
  padding-top: 80px; /* espaço para não ficar escondido atrás da navbar */
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.Tf8k-1U0Cdtv2xZKGQIQQgHaE8?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3);
}

.navegador__container{
  background-color: #a2a9dd;
  display: flex;
  position: fixed; /* barra fica fixada quando rola a página */
  margin: 0px;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

nav ul{
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style: none;
}

.navbutton{
  flex: 1;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
}

section{
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

input{
  flex: 1;
  text-align: left;
  color: #0f0b0b;
  text-decoration: none;
  font-size: 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

input:focus::placeholder {
  color: transparent; /* deixa o texto do place holder invisível */
}

button{
  flex: box;
  text-align: center;
  color: white;
  background-color: #82618f;
  text-decoration: none;
  font-size: 15px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
}
button:hover{
  background-color: #694e73;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  pointer-events: hover;
  cursor: pointer;
}

